<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/resources/styles.css}">
</head>
<body>
<div class="center">
  <h2 th:if="${user.getId()}">Update User</h2>
  <h2 th:unless="${user.getId()}">Create User</h2>
  <form th:method="POST" th:action="@{/new}" th:object="${user}">
    <input type="hidden" th:field="*{id}">
    <table class="tg new-edit">
      <tr>
        <td>FirstName:</td>
        <td><input type="text" th:field="*{firstName}" /></td>
      </tr>
      <tr>
        <td>Last Name:</td>
        <td><input type="text" th:field="*{lastName}" /></td>
      </tr>
      <tr>
        <td>Age:</td>
        <td><input type="number" th:field="*{age}" /></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Save" /></td>
      </tr>
    </table>
  </form>
  <a href="/">Back to List</a>
</div>
</body>
</html>